<ion-header [translucent]="true" mode='md'>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>我的牌组</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addDeck()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="screen">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div id="decks">
    <ion-button (tap)="learnDeck(deck.deckId)" *ngFor="let deck of deckList" expand="full" fill="clear" class="cell"
      [ngStyle]="{'height': SCREEN_WIDTH/COL_NUM + 'px'}"
      (press)="deckMenu(deck.deckId, deck.deckName)" mode="md">
      {{ deck.deckName }}
    </ion-button>
  </div>
</ion-content>