<ion-header [translucent]="true" mode='md'>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>牌组仓库</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="decks">
    <ion-button mode="md" (click)="flip(deck.id)" *ngFor="let deck of deckList" expand="full" fill="clear" class="cell"
      [ngStyle]="{'width': SCREEN_WIDTH/COL_NUM + 'px', 'height': SCREEN_WIDTH/COL_NUM + 'px'}">
      <ion-icon class="icon" [name]="isCollection()? 'heart':'heart-outline'"></ion-icon> {{ deck.name }}
    </ion-button>
  </div>
</ion-content>